/* Styling for transitions between views */
html {font-size:32px;
}

main > * {
	display:none;
	max-width:750px;
	padding-top:5%;
	padding-bottom:5%;
	transition: all 2s;
	margin:auto;
}

main > *:target {
	display:block;
	transition: all 2s;
}

p,ol {
	font-family:Avenir;
	font-size:75%;
}

h1 {
	font-family:Georgia;
	font-style:italic;
	font-size:100%;
}

.date {
	background:#eee;
	width:40%;
	height:15%;
	padding-right:5%;
	padding-bottom:5%;
	display:float;
}

.people-thumbnail {
	width:40%;
	padding-right:5%;
	background-repeat: no-repeat;
	background-position:50%;
	border-radius:50%;
	  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.people-thumbnail:hover {
	-webkit-filter: blur(4px);
}

.thumbnails {
	margin:auto;
}

.gif {
	width:100%;
}

button {
	cursor:pointer;
	background-color:rgba(0, 0, 0, 0);
	margin-top:5px;
	font-size:75%;
	margin-bottom:5px;
	margin-right:20px;
	border-style:solid;
	border-color:#000;
	font-family:Avenir;
	border-width:1;
	padding:10px 20px 10px 20px;
	transition: all 0.76s ease;
}
button:hover {
	background-color:#000;
	color:#fff;
}
button:active {
	position:relative;
	top:1px;
}


/*
#intro > p,h1 {
	color:white;
}

#intro {
	background: url(photos/welcome_to_atl.JPG) no-repeat center center fixed;
	height:100%;
	margin:0;
	-webkit-background-size: cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}*/