 {% include navbar.html %}

    <div id="headerimage">
      <div id="title-gradient" style="text-align:center;">
        <div id="titleholder">
          <div id="post-title">
            <h1 class="white-text" style="text-align:center; font-size:50px;  margin-left:10%; margin-right:10%;">{{ page.title }}</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
      <p class="blue-text">Posted {{ page.date | date: "%B %e, %Y" }}</p>
      <p class="flow-text">{{ page.snippet }}</p>
      
      {% if page.spotify %}
      <div style="background-color:#DEDEDE; margin:10px">
        <p><b>What I'm listening to as I write: </b></p>
          <iframe src="https://embed.spotify.com/?uri={{ page.spotify }}" width="100%" height="80" frameborder="0" allowtransparency="true"></iframe>
      </div>
      {% endif %}


      {{ content }}
        
        <div class="divider"></div>
        <h5>Other Posts</h5>
        <div class="col s6 m4">
          <div class="card">
            <div class="card-image">
              <img src="http://www.themusehotel.com/design/images/930-481/nyc-skyline.jpg">
              <span class="card-title">POST_TITLE</span>
            </div>
            <div class="card-content">
              <p>POST_EXCERPT</p>
            </div>
            <div class="card-action">
              <a href="#">POST_LINK</a>
            </div>
          </div>
        </div>

      </div>
    </div>


 {% include footer.html %}